<!DOCTYPE html>
<meta charset="utf-8" />
<head>
	<link rel="stylesheet" href="/css/style.css">
</head>
<title>Greeder</title>

<div class="layout">
	<div class="flex-row">
		<div class="menu">
			<div class="flex-column">
				<span class="caption">{{uid}}</span>
				<span class="vertical-indent"></span>
				<a href="/">Список лент</a>
				<a href="/management">Управление лентами</a>
			</div>
		</div>
		<div class="content" data-feed-id="{{feed_id}}">
			<h3>{{feed.title}}</h3>
			<div class="muted-text">{{feed.description}} ({{feed.url}})</div>

			<h4>Новости</h4>
			<div class="flex-column">
				{{#each entries}}
				<a href="/entry/{{key}}">
				<div class="feed-item">
					<div class="caption">{{title}}</div>
					<div class="desc"><b>{{author}}</b> {{published}}</div>
				</div></a>
				{{/each}}
			</div>
		</div>
	</div>
</div>